<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>AuthenticationFilter</filter-name>
        <filter-class>jsp.filter.AuthenticationFilter</filter-class>
    </filter>
    <filter>
        <filter-name>AdminFilter</filter-name>
        <filter-class>jsp.filter.AdminFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <servlet-name>saveMovieServlet</servlet-name>
        <servlet-name>addReviewServlet</servlet-name>
        <servlet-name>addFeatureServlet</servlet-name>
        <servlet-name>featurePanelServlet</servlet-name>
        <servlet-name>deleteFeatureServlet</servlet-name>
        <servlet-name>featureDetailServlet</servlet-name>
        <servlet-name>deleteMovieServlet</servlet-name>
        <servlet-name>addNewMovieLanguageServlet</servlet-name>
        <servlet-name>updateMovieServlet</servlet-name>
        <servlet-name>deleteOrderServlet</servlet-name>
        <servlet-name>showContactServlet</servlet-name>
        <servlet-name>editReviewServlet</servlet-name>
        <servlet-name>confirmOrderServlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <servlet-name>GetMovieServlet</servlet-name>
        <servlet-name>saveMovieServlet</servlet-name>
        <servlet-name>updateProfileServlet</servlet-name>
        <servlet-name>editPasswordServlet</servlet-name>
        <servlet-name>addReviewServlet</servlet-name>
        <servlet-name>searchServlet</servlet-name>
        <servlet-name>addContactServlet</servlet-name>
        <servlet-name>addFeatureServlet</servlet-name>
        <servlet-name>wishListServlet</servlet-name>
        <servlet-name>deleteWishlistServlet</servlet-name>
        <servlet-name>addWishlistServlet</servlet-name>
        <servlet-name>deleteFeatureServlet</servlet-name>
        <servlet-name>deleteMovieServlet</servlet-name>
        <servlet-name>CartServlet</servlet-name>
        <servlet-name>addOrderServlet</servlet-name>
        <servlet-name>orderListServlet</servlet-name>
        <servlet-name>showOrderServlet</servlet-name>
        <servlet-name>myMovieServlet</servlet-name>
        <servlet-name>watchServlet</servlet-name>
        <servlet-name>moviePanelServlet</servlet-name>
        <servlet-name>addNewMovieLanguageServlet</servlet-name>
        <servlet-name>updateMovieServlet</servlet-name>
        <servlet-name>deleteOrderServlet</servlet-name>
        <servlet-name>showContactServlet</servlet-name>
        <servlet-name>editReviewServlet</servlet-name>
        <servlet-name>confirmOrderServlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>jsp.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>jsp.servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckAvailability</servlet-name>
        <servlet-class>jsp.servlet.CheckAvailability</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>jsp.servlet.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetMovieServlet</servlet-name>
        <servlet-class>jsp.servlet.GetMovieServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>saveMovieServlet</servlet-name>
        <servlet-class>jsp.servlet.saveMovieServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>test</servlet-name>
        <servlet-class>jsp.servlet.test</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateProfileServlet</servlet-name>
        <servlet-class>jsp.servlet.updateProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editPasswordServlet</servlet-name>
        <servlet-class>jsp.servlet.editPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addReviewServlet</servlet-name>
        <servlet-class>jsp.servlet.addReviewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showReviewServlet</servlet-name>
        <servlet-class>jsp.servlet.showReviewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showReviewDetailServlet</servlet-name>
        <servlet-class>jsp.servlet.showReviewDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchServlet</servlet-name>
        <servlet-class>jsp.servlet.searchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addContactServlet</servlet-name>
        <servlet-class>jsp.servlet.addContactServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showShopServlet</servlet-name>
        <servlet-class>jsp.servlet.showShopServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showMovieDetailServlet</servlet-name>
        <servlet-class>jsp.servlet.showMovieDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userPanelServlet</servlet-name>
        <servlet-class>jsp.servlet.userPanelServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addFeatureServlet</servlet-name>
        <servlet-class>jsp.servlet.addFeatureServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>wishListServlet</servlet-name>
        <servlet-class>jsp.servlet.wishListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteWishlistServlet</servlet-name>
        <servlet-class>jsp.servlet.deleteWishlistServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addWishlistServlet</servlet-name>
        <servlet-class>jsp.servlet.addWishlistServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>featurePanelServlet</servlet-name>
        <servlet-class>jsp.servlet.featurePanelServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteFeatureServlet</servlet-name>
        <servlet-class>jsp.servlet.deleteFeatureServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>featureDetailServlet</servlet-name>
        <servlet-class>jsp.servlet.featureDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteMovieServlet</servlet-name>
        <servlet-class>jsp.servlet.deleteMovieServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartServlet</servlet-name>
        <servlet-class>jsp.servlet.CartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addOrderServlet</servlet-name>
        <servlet-class>jsp.servlet.addOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>orderListServlet</servlet-name>
        <servlet-class>jsp.servlet.orderListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showOrderServlet</servlet-name>
        <servlet-class>jsp.servlet.showOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>myMovieServlet</servlet-name>
        <servlet-class>jsp.servlet.myMovieServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>watchServlet</servlet-name>
        <servlet-class>jsp.servlet.watchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>moviePanelServlet</servlet-name>
        <servlet-class>jsp.servlet.moviePanelServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addNewMovieLanguageServlet</servlet-name>
        <servlet-class>jsp.servlet.addNewMovieLanguageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateMovieServlet</servlet-name>
        <servlet-class>jsp.servlet.updateMovieServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteOrderServlet</servlet-name>
        <servlet-class>jsp.servlet.deleteOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showContactServlet</servlet-name>
        <servlet-class>jsp.servlet.showContactServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editReviewServlet</servlet-name>
        <servlet-class>jsp.servlet.editReviewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>confirmOrderServlet</servlet-name>
        <servlet-class>jsp.servlet.confirmOrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckAvailability</servlet-name>
        <url-pattern>/Check</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetMovieServlet</servlet-name>
        <url-pattern>/GetMovie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>saveMovieServlet</servlet-name>
        <url-pattern>/saveMovie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>test</servlet-name>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateProfileServlet</servlet-name>
        <url-pattern>/updateProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editPasswordServlet</servlet-name>
        <url-pattern>/editPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addReviewServlet</servlet-name>
        <url-pattern>/addReview</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showReviewServlet</servlet-name>
        <url-pattern>/showReview</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showReviewDetailServlet</servlet-name>
        <url-pattern>/showReviewDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchServlet</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addContactServlet</servlet-name>
        <url-pattern>/addContact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showShopServlet</servlet-name>
        <url-pattern>/showShop</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showMovieDetailServlet</servlet-name>
        <url-pattern>/showMovieDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userPanelServlet</servlet-name>
        <url-pattern>/userPanel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addFeatureServlet</servlet-name>
        <url-pattern>/addFeature</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>wishListServlet</servlet-name>
        <url-pattern>/wishList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteWishlistServlet</servlet-name>
        <url-pattern>/deleteWishlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addWishlistServlet</servlet-name>
        <url-pattern>/addWishlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>featurePanelServlet</servlet-name>
        <url-pattern>/featurePanel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteFeatureServlet</servlet-name>
        <url-pattern>/deleteFeature</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>featureDetailServlet</servlet-name>
        <url-pattern>/featureDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteMovieServlet</servlet-name>
        <url-pattern>/deleteMovie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartServlet</servlet-name>
        <url-pattern>/Cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addOrderServlet</servlet-name>
        <url-pattern>/addOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>orderListServlet</servlet-name>
        <url-pattern>/orderList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showOrderServlet</servlet-name>
        <url-pattern>/showOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>myMovieServlet</servlet-name>
        <url-pattern>/myMovie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>watchServlet</servlet-name>
        <url-pattern>/watch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>moviePanelServlet</servlet-name>
        <url-pattern>/moviePanel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addNewMovieLanguageServlet</servlet-name>
        <url-pattern>/addNewMovieLanguage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateMovieServlet</servlet-name>
        <url-pattern>/updateMovie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteOrderServlet</servlet-name>
        <url-pattern>/deleteOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showContactServlet</servlet-name>
        <url-pattern>/showContact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editReviewServlet</servlet-name>
        <url-pattern>/editReview</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>confirmOrderServlet</servlet-name>
        <url-pattern>/confirmOrder</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>60</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
